/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;
}

.text-justify {
    text-align: justify;
}

.purple-text {
    color: #B85ADE;
}

.orange-text {
    color: #F16347;
}

.silver-text {
    color: rgb(168, 168, 168);
}

.round-btn {
    background: white;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color: rgb(58, 58, 58);
    top: 5px;
    right: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}

.square-btn {
    background-image: linear-gradient(to right, #FF7B04, #FEA720);
}

.square-btn:hover {
    background-image: linear-gradient(to right, #FEA720, #FF7B04);
}

.round-btn:hover {
    color: white;
    background-color: #9635bd;
}

.icon-50 {
    font-size: 50px;
}

.icon-13 {
    font-size: 16px;
}

/* Header CSS */
header {
    background-color: #B85ADE;
}

/* For Navbar */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
/* ============ small devices .end// ============ */

.navbar-dark .navbar-nav .nav-link {
    color: #f9f1fcee;
    font-size: 14px;
}

.navbar-dark .dropdown-menu {
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 10px;
}

.active {
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .header-2nd-section {
      text-align: center;
    }

    .header-2nd-section h1 {
        font-size: 21px;
    }

    .header-2nd-section small {
        font-size: 12px;
    }
}


@media only screen and (min-width: 769px) {
    .header-2nd-section h1 {
        font-size: 25px;
    }

    .header-2nd-section small {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-2nd-section h1 {
        font-size: 40px;
    }

    .header-2nd-section small {
        font-size: 14px;
    }
}

/* Best Service CSS */
@media only screen and (max-width: 768px) {
    .best-service {
      text-align: center;
    }

    .best-service h2 {
        font-size: 18px !important;
    }

    .best-service p {
        font-size: 12px;
    }

    .best-service img {
        width: 75% !important;
    }
}


@media only screen and (min-width: 769px) {
    .best-service h2 {
        font-size: 22px !important;
    }

    .best-service p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    .best-service h2 {
        font-size: 32px !important;
    }

    .best-service p {
        font-size: 16px;
    }
}

/* Offer Service CSS */
.best-service .card {
    border: none;
    cursor: pointer;
}

.best-service .card:hover {
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
}

/* Buy Package CSS */
.buy-package {
    background: linear-gradient(45deg, #df2bb4, #f8a029);
}

.buy-package .card {
    background-color: transparent;
    border: none;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.buy-package .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.buy-package small {
    color: rgb(240, 238, 238);
}

@media only screen and (max-width: 768px) {
    .buy-package h2 {
        font-size: 24px !important;
    }

    .buy-package small {
        font-size: 12px;
    }
}

/* People Say CSS */
.people-say .card {
    border: none;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.people-say .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.people-say .card h5 {
    margin: 0;
}

.people-say .card-footer {
    border: none;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .people-say h2 {
        font-size: 24px !important;
    }

    .people-say small {
        font-size: 12px;
    }
}

/* Footer CSS */
footer a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}

footer a, a:hover {
    text-decoration: none !important; 
}
  
.content {
    height: 70vh; 
}
  
.footer-39201 {
    padding: 5rem 0;
    color: #9d9d9d; 
}

.footer-39201 .subscribe {
    position: relative; 
}

.footer-39201 .subscribe .form-control {
    background-color: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    height: 50px;
    padding-left: 30px;
    padding-right: 130px;
    border: none;
    color: #000; 
}

.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}

.footer-39201 .subscribe .form-control::-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}

.footer-39201 .subscribe .form-control:-ms-input-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}
        
.footer-39201 .subscribe .form-control:-moz-placeholder {
    color: #b3b3b3;
    font-style: italic;
    font-size: 14px; 
}

.footer-39201 .subscribe .btn-submit {
    background: #B85ADE;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}

.footer-39201 .subscribe .btn-submit:hover {
    background: #9635bd;
}
    
.footer-39201 h3 {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px; 
}

.footer-39201 .nav-links li {
    display: block;
    margin-bottom: 10px; 
}

.footer-39201 .nav-links li a {
    color: #9d9d9d; 
}

.footer-39201 .nav-links li a:hover {
    color: #B85ADE; 
}

.footer-39201 .social li {
    display: inline-block; 
}

.footer-39201 .social li a {
    display: inline-block;
    padding: 10px;
    color: #9d9d9d; 
}

.footer-39201 .social li a:hover {
    color: #B85ADE; 
}

footer .right-text {
    text-align: right;
}

footer .copy-icon {
    font-size: 15px;
}

.subscribe p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    footer {
        text-align: center;
    }

    .subscribe p {
        text-align: justify;
        font-size: 14px;
    }

    footer .right-text {
        text-align: center;
    }    

    footer h3 {
        font-size: 18px;
    }

    footer ul li a {
        font-size: 14px;
    }
}

/* Service Page CSS */
.service .card {
    border: none;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.service .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.service .card h5 {
    margin: 0;
}

.service .card-footer {
    border: none;
    background-color: white;
}

.service ul {
    margin: 0;
    padding: 0;
}

.service ul li {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.service ul li:nth-child(2n+1) {
    background-color: rgb(236, 234, 234);
}

.price {
    background-image: linear-gradient(to right, #FF7B04, #FEA720);
}

@media only screen and (max-width: 768px) {
    .service h2 {
        font-size: 24px !important;
    }

    .service small {
        font-size: 12px;
    }
}
